<div id="<%= dom_id credit_card %>">
  <p>
    <strong>Id:</strong>
    <%= credit_card.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= credit_card.name %>
  </p>

  <p>
    <strong>Card number string:</strong>
    <%= credit_card.card_number_string %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= credit_card.expiration_date %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= credit_card.cvv %>
  </p>

  <p>
    <strong>User:</strong>
    <%= credit_card.user_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= credit_card.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= credit_card.updated_at %>
  </p>

</div>
