<p id=”notice”><%= notice %></p>
<h1>AmazeZone Shopping Portal</h1>
<p>Purchase items at the snap of your finger</p>
<% if current_user %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to 'View all products', products_path %><br>
  <%= link_to 'Add credit card', new_credit_card_path %><br>
  <%= link_to 'View purchase history', transactions_path %><br>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>

<% end %>