<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= transaction.total_cost %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= transaction.product_id %>
  </p>

  <p>
    <strong>Creditcard:</strong>
    <%= transaction.creditcard_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= transaction.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= transaction.updated_at %>
  </p>

</div>
