<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Name</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Price</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.category %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to_if product.quantity > 0, 'Purchase this product', new_transaction_path(:product_id => product.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
